body {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}

#field_show {
  display: flex;
  flex-direction: row;
}

#field_item {
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: brown;
}

#field_compound {
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}

#field_input {
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: darkkhaki;
}

#field_rocket {
  text-align: center;
  width: 200px;
  height: 200px;
  background-color: darkolivegreen;
}

#field_story {
  text-align: left;
  width: 780px;
  height: 380px;
  padding: 10px;
  background-color: cornsilk;
}
